{{#if orders.0.giftRegistryData}}
  {{orders.0.giftRegistryData.description}}
{{else}}
  {{#each ../../shippingData.availableAddresses}}
    {{#eq ../addressId AddressId}}
      <strong class="color-success-500 pb2">{{receiverName}}</strong>
      <br/><span class="gray-scale-900">{{street}}, {{number}}{{#if complement}} - {{complement}}{{/if}}</span>
      <br /><span class="gray-scale-900">{{neighborhood}} - {{city}} - {{state}}</span>
      <br /><span class="gray-scale-900">((i18n.shipping.postalCode)) {{postalCode}}</span>
    {{/eq}}
  {{/each}}
{{/if}}
