<!-- 1 payment -->

{{#compare payments.length "==" 1}}
  {{#each payments}}
  <div class="f4 lh-copy">
    {{paymentSystemName}}
    {{#if lastDigits}} ((i18n.payment.lastDigits)) {{lastDigits}} {{/if}}
    <br />((i18n.common.currency)) {{formatCurrency value}}
    {{#eq installments 1}}
      ((i18n.payment.atSight))
    {{else}}
      ((i18n.payment.in)) {{installments}}x
    {{/eq}}
  </div>
  {{/each}}
{{/compare}}

<!-- N payments -->

{{#compare payments.length "!=" 1}}
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  {{#each payments}}
  <tr>
    <td class="f5 pv1 bb b--light-gray">
      {{paymentSystemName}}
      {{#if lastDigits}} ((i18n.payment.lastDigits)) {{lastDigits}} {{/if}}
      {{#eq installments 1}}
        ((i18n.payment.atSight))
      {{else}}
        ((i18n.payment.in)) {{installments}}x
      {{/eq}}
    </td>
    <td class="f5 pv1 bb b--light-gray align-right">((i18n.common.currency)) {{formatCurrency value}}</td>
  </tr>
  {{/each}}
</table>
{{/compare}}
