<!-- Scheduled shipping -->
{{#if deliveryWindow}}
  ((i18n.shipping.scheduled))
{{else}}

  <!-- Available Today -->
  {{#eq shippingEstimateDays "0"}}
    {{#eq selectedDeliveryChannel "pickup-in-point"}}
      ((i18n.shipping.lowercase.fromToday))
    {{else}}
      ((i18n.shipping.lowercase.today))
    {{/eq}}

  <!-- Available in another day -->
  {{else}}
    <!-- Delivery or Pickup -->
    {{#eq selectedDeliveryChannel "pickup-in-point"}}
      ((i18n.shipping.lowercase.from))
    {{else}}
      ((i18n.shipping.lowercase.inUpTo))
    {{/eq}}

    <div class="f3 mt1 pb3">
      <!-- Single or many days -->
      {{#compare shippingEstimateDays ">" "1"}}
        <!-- Running days or Business days -->
        {{#eq shippingEstimateDaysType "bd"}}
          {{shippingEstimateDays}} ((i18n.shipping.businessDays))
        {{else}}
          {{shippingEstimateDays}} ((i18n.shipping.days))
        {{/eq}}
      {{else}}
        <!-- Running days or Business days -->
        {{#eq shippingEstimateDaysType "bd"}}
          {{shippingEstimateDays}} ((i18n.shipping.businessDay))
        {{else}}
          {{shippingEstimateDays}} ((i18n.shipping.day))
        {{/eq}}
      {{/compare}}
    </div>
  {{/eq}}
{{/if}}
