<tr>
  <td class="ph4-ns pv3 bt b--light-gray">
    <div class="cb fn">
      <h3 class="ma0 mb2 pt2 pb3">((i18n.common.shipping))</h3>
      <div class="pb3">
        <div class="mb1"><strong>((i18n.shipping.address))</strong></div>

        {{#with shippingAddress}}
          <strong>{{receiverName}}</strong>
          <br/>{{street}}, {{number}}{{#if complement}} - {{complement}}{{/if}}
          <br />{{neighborhood}} - {{city}} - {{state}}
          <br />((i18n.shipping.postalCode)) {{postalCode}}
        {{/with}}
      </div>
      <div>
        <div class="mb1"><strong>((i18n.common.shippingMethod))</strong></div>
        <div>
          {{purchaseSettings.selectedSla}}
        </div>
      </div>
    </div>
  </td>
</tr>
