<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:v="urn:schemas-microsoft-com:vml">
<!-- partial:partials/html-head.hbs -->
<!-- partial -->

<body>
  <table id="body-table" width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td align="center" valign="top">
        <table class="w-100 mw6-5 mv4-ns bg-white" width="100%" align="center" border="0" cellpadding="0"
          cellspacing="0">

          <!-- Header -->
          <tr>
            <td class="w-100 ph4-ns pb4 bb b--light-gray tc">
              <!-- partial:partials/logo.hbs -->
              <!-- partial -->

              {{#eq metadata.language "pt"}}
              <h1>Novo limite de crédito definido</h1>
              {{/eq}}
              {{#eq metadata.language "en"}}
              <h1>New credit limit defined</h1>
              {{/eq}}
              {{#eq metadata.language null}}
              <h1>New credit limit defined</h1>
              {{/eq}}
            </td>
          </tr>

          <tr>
            <td class="w-100 ph4-ns">
              <div class="mt4">
                {{#eq metadata.language "pt"}}
                <p>Olá, {{userName}}.</p>
                <p>Agora, você tem um novo limite para fazer suas compras a prazo. Conte com até
                  <strong>{{metadata.currency}} {{formatCurrency account.creditLimit}}</strong> de crédito para usar
                  aqui na loja.</p>
                {{/eq}}
                {{#eq metadata.language "en"}}
                <p>Hello, {{userName}}.</p>
                <p>Now, you have a new limit to make your purchases on time. Count up to <strong>{{metadata.currency}}
                    {{formatCurrency account.creditLimit}}</strong> of credit to use here in the store.</p>
                {{/eq}}
                {{#eq metadata.language null}}
                <p>Hello, {{userName}}.</p>
                <p>Now, you have a new limit to make your purchases on time. Count up to <strong>{{metadata.currency}}
                    {{formatCurrency account.creditLimit}}</strong> of credit to use here in the store.</p>
                {{/eq}}

                <!-- partial:partials/customerCredit/follow.hbs -->
                <!-- partial -->
              </div>
            </td>
          </tr>

          <tr>
            <td class="ph4-ns pv3 bt b--light-gray">
              <!-- partial:partials/customerCredit/footer.hbs -->
              <!-- partial -->
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>
