<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:v="urn:schemas-microsoft-com:vml">
<!-- partial:partials/html-head.hbs -->
<!-- partial -->

<body>
  <table id="body-table" width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td align="center" valign="top">
        <table class="w-100 mw6-5 mv4-ns bg-white" width="100%" align="center" border="0" cellpadding="0" cellspacing="0">

          <!-- Header -->
          <tr>
            <td class="w-100 ph4-ns pb4 bb b--light-gray tc">
              <!-- partial:partials/logo.hbs -->
              <!-- partial -->

              {{#eq metadata.language "pt"}}
              <h1>Pagamento recebido</h1>
              {{/eq}}
              {{#eq metadata.language "en"}}
              <h1>Payment received</h1>
              {{/eq}}
              {{#eq metadata.language null}}
              <h1>Payment received</h1>
              {{/eq}}
            </td>
          </tr>

          <tr>
            <td class="w-100 ph4-ns">
              <div class="mt4">
                <p>
                  <!-- partial:partials/messages/hi.hbs -->
                  <!-- partial -->

                  {{#eq metadata.language "pt"}}
                  <p>Recebemos seu pagamento de <strong>{{metadata.currency}} {{formatCurrency
                      invoice.value}}</strong>. O crédito disponível para compras foi atualizado</p>
                  <p>Você pode acompanhar seu crédito disponível e pagamentos em aberto através do <a href="#">nosso
                      site</a>.</p>
                  {{/eq}}
                  {{#eq metadata.language "en"}}
                  <p>We received your payment from <strong>{{metadata.currency}} {{formatCurrency
                      invoice.value}}</strong>. Credit available for purchases has been updated</p>
                  <p>You can track your available credit and outstanding payments through <a href="#">our site</a>.</p>
                  {{/eq}}
                  {{#eq metadata.language null}}
                  <p>We received your payment from <strong>{{metadata.currency}} {{formatCurrency
                      invoice.value}}</strong>. Credit available for purchases has been updated</p>
                  <p>You can track your available credit and outstanding payments through <a href="#">our site</a>.</p>
                  {{/eq}}
                </p>
              </div>
            </td>
          </tr>

          <tr>
            <td class="ph4-ns pv3 bt b--light-gray">
              <p>
                {{#eq metadata.language "pt"}}Atenciosamente{{/eq}}
                {{#eq metadata.language "en"}}Regards{{/eq}}
                {{#eq metadata.language null}}Regards{{/eq}}
                <br />((i18n.common.team)) {{_accountInfo.TradingName}}
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>
