<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:v="urn:schemas-microsoft-com:vml">
<!-- partial:partials/html-head.hbs -->
<!-- partial -->

<body>
  <table id="body-table" width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td align="center" valign="top">
        <table class="w-100 mw6-5 mv4-ns bg-white" width="100%" align="center" border="0" cellpadding="0"
          cellspacing="0">

          <!-- Header -->
          <tr>
            <td class="w-100 ph4-ns pb4 bb b--light-gray tc">
              <!-- partial:partials/logo.hbs -->
              <!-- partial -->

              {{#eq metadata.language "pt"}}
              <h1>Vencimento de título de cobrança</h1>
              <p class="gray f5">Referente ao pedido {{invoice.order}}</p>
              {{/eq}}
              {{#eq metadata.language "en"}}
              <h1>Invoice about to expire</h1>
              <p class="gray f5">Order reference {{invoice.order}}</p>
              {{/eq}}
              {{#eq metadata.language null}}
              <h1>Invoice about to expire</h1>
              <p class="gray f5">Order reference {{invoice.order}}</p>
              {{/eq}}
            </td>
          </tr>

          <tr>
            <td class="w-100 ph4-ns">
              <div class="mt4">
                <p>
                  {{#eq metadata.language "pt"}}
                  <p>Olá, {{invoice.userName}}.</p>
                  <p>
                    Ainda não reconhecemos o pagamento do título de cobrança abaixo. A data de vencimento do seu título
                    está chegando.</p>
                  {{/eq}}
                  {{#eq metadata.language "en"}}
                  <p>Hello, {{invoice.userName}}.</p>
                  <p>
                    We have not yet acknowledged payment of the invoice below. The due date of your invoice is coming
                    up.</p>
                  {{/eq}}
                  {{#eq metadata.language null}}
                  <p>Hello, {{invoice.userName}}.</p>
                  <p>
                    We have not yet acknowledged payment of the invoice below. The due date of your invoice is coming
                    up.</p>
                  {{/eq}}

                  <table width="100%">
                    <thead>
                      <tr>
                        <th class="bb b--light-gray pv2">
                          {{#eq metadata.language "pt"}}Vencimento{{/eq}}{{#eq metadata.language "en"}}Due
                          date{{/eq}}{{#eq metadata.language null}}Due date{{/eq}}</th>
                        <th class="bb b--light-gray pv2">
                          {{#eq metadata.language "pt"}}Observação{{/eq}}{{#eq metadata.language "en"}}Observation{{/eq}}{{#eq metadata.language null}}Observation{{/eq}}
                        </th>
                        <th class="tr bb b--light-gray pv2">
                          {{#eq metadata.language "pt"}}Valor{{/eq}}{{#eq metadata.language "en"}}Value{{/eq}}{{#eq metadata.language null}}Value{{/eq}}
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      {{#each invoice.updatedInvoices}}
                      <tr>
                        <td class="bb b--light-gray pv2">{{formatDate dueDate}}</td>
                        <td class="bb b--light-gray pv2">{{observation}}</td>
                        <td class="tr bb b--light-gray pv2">{{../metadata.currency}} {{formatCurrency value}}</td>
                      </tr>
                      {{/each}}
                    </tbody>
                  </table>

                  {{#eq metadata.language "pt"}}
                  <p>Se você já fez o pagamento, desconsidere essa mensagem. Você pode acompanhar seu crédito disponível
                    e títulos de cobrança em aberto pelo nosso site.</p>
                  {{/eq}}
                  {{#eq metadata.language "en"}}
                  <p>If you have already made the payment, disregard this message. You can track your available credit
                    and outstanding billing titles through our website.</p>
                  {{/eq}}
                  {{#eq metadata.language null}}
                  <p>If you have already made the payment, disregard this message. You can track your available credit
                    and outstanding billing titles through our website.</p>
                  {{/eq}}
              </div>
            </td>
          </tr>

          <tr>
            <td class="ph4-ns pv3 bt b--light-gray">
              <p>
                {{#eq metadata.language "pt"}}Atenciosamente{{/eq}}
                {{#eq metadata.language "en"}}Regards{{/eq}}
                {{#eq metadata.language null}}Regards{{/eq}}
                <br />((i18n.common.team)) {{_accountInfo.TradingName}}
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>
